﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="InstructionMessage.aspx.vb" Inherits="Message" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

   <div>
       <div class="obg" style="color: rgb(51, 51, 51); font-family: Arial; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background: url('https://www.Anupam Travel.com/images/bg.png') repeat-x;">
           <section class="content-wrapper main-content clear-fix">
               <div style="margin-left: 50px;">
                   <h1">We are unable to process your request due to one of the following reasons:</h1>
                   <br />
                   <ol>
                       <li>Your session has terminated.</li>
                       <li>You have used Back/Forward/Refresh button of your Browser.</li>
                       <li>You have double clicked on any options/buttons.</li>
                       <li>You have kept the browser window idle for a long time.</li>
                       <li>You have done some invalid operations.</li>
                   </ol>
               </div>
           </section>
           <div class="clear" style="clear: both;">
           </div>
       </div>
       <br class="Apple-interchange-newline" />
    </div>
</asp:Content>

