﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageSignIn.master" AutoEventWireup="true" CodeFile="Flight.aspx.cs" Inherits="Flight" %>

<%@ Register Src="~/UserControl/childPage_UserControl.ascx" TagPrefix="uc1" TagName="childPage_UserControl" %>










<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


    <uc1:childPage_UserControl runat="server" id="childPage_UserControl" />

</asp:Content>

