﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="HotelMenu.ascx.cs" Inherits="UserControl_HotelMenu" %>
<%@ Register Src="~/UserControl/childPage_UserControl.ascx" TagPrefix="uc1" TagName="childPage_UserControl" %>


<uc1:childPage_UserControl runat="server" ID="childPage_UserControl" />


<%--<div class="w100">       
    <div class="fltnewmenu1">
            <a href="<%=ResolveUrl("~/DetailsPort/Hotel/HtlBookingRpt.aspx")%>">Hotel Report</a>
        </div>
    <div class="fltnewmenu1">
            <a href="<%=ResolveUrl("~/DetailsPort/Hotel/HoldHotelBooking.aspx")%>">Hold Hotel Report</a>
        </div>
    <div class="fltnewmenu1">
            <a href="<%=ResolveUrl("~/DetailsPort/Refund/HotelRefundReport.aspx")%>">Hotel Cancellation Report</a>
        </div>
    <% if(Session["User_Type"].ToString().Trim().ToUpper().Equals("EXEC") ){%>    
        <div class="fltnewmenu1">
            <a href="<%= ResolveUrl("~/DetailsPort/Hotel/HoldHotelRequest.aspx") %>">Hold Hotel Request</a>
        </div>
    <div class="fltnewmenu1">
            <a href="<%=ResolveUrl("~/DetailsPort/Hotel/HoldHotelAccept.aspx")%>">Hold Hotel Update</a>
        </div>       
     <div class="fltnewmenu1">
            <a href="<%= ResolveUrl("~/DetailsPort/Refund/HtlRefundRequest.aspx") %>">Hotel Refund Request</a>
        </div>
    <div class="fltnewmenu1">
            <a href="<%=ResolveUrl("~/DetailsPort/Refund/HtlRefundInProcces.aspx")%>">Hotel Refund Inproces</a>
        </div>
        
    <% }%>
   
</div>--%>